
<h1>Trips from <%= @from.name %></h1>

 <table>
  <tr>
    <th>Start Time</th>
    <th>Duration</th>
    <th>Destination</th>
    <th></th>
  </tr>
 <%= render 'by_location' %>
 </table> 

<br><br><%= link_to "Back to trips", vehicle_trips_path(params[:vehicle_id]) %>
<br>